// @import "variables.scss";

.loginAndSignupModalContainer {
  // border-radius: 2px;
  position: fixed;
  width: 30%;
  // height: 30%;
  top: 30%;
  left: 35%;
  background: #fff;
  z-index: 1060;

  box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.09);
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-duration: .3s;

  .input-group > .form-control {
    padding: 10px;
    border-color: #eee;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }

  select.form-control:not([size]):not([multiple]) {
    height: inherit;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'
    viewBox='0 0 4 5'%3E%3Cpath fill='%23373a3c' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    text-transform: capitalize;
  }

  .form-control:focus {
    border-color: #5cb85c !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }

  .input-group-text {
    background-color: #ffffff;
    border-color: #eee;
    i {
      color: #868e96;
    }
  }

  footer {
    a {
      cursor: pointer;
    }
  }

}






// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .loginAndSignupModalContainer {
    width: 90%;
    left: 5%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .loginAndSignupModalContainer {
    width: 50%;
    left: 25%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .loginAndSignupModalContainer {
    width: 40%;
    left: 30%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
