@import "variables.scss";

//  ALL Bootstrap overwritten classes

.bg-info {
  background-color: $primary !important;
}

.btn-info {
  color: #fff !important;
  background-color: #9954BB !important;
  border-color: #9954BB !important;
}

.btn-info:hover {
  color: #fff !important;
  background-color: #8542a7 !important;
  border-color: #7e3f9d !important;
}

.btn-info:focus, .btn-info.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(153, 84, 187, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(153, 84, 187, 0.5) !important;
}

.text-info {
    color: #9954BB !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.2;
    color: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 0.9375rem;
  // font-weight:   300;
}
