@import "variables.scss";


.singleBadgeModalContainer {
  // border-radius: 2px;
  position: fixed;
  width: 60%;
  top: 7%;
  left: 20%;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  background: #fff;
  z-index: 1050;
  min-height: calc(100vh - 200px);

  box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.09);
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-duration: .3s;

  .badgeImageRow {
    background: #f6f6f6;
    padding: 40px 20px;
    box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.09);
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-duration: .3s;

    img {
      height: 15rem;
    }
  }

  .badgeInfoRow {
      h6 {
        font-weight: 600;
        color: $info;
      }

      .markdown {
        pre code{
          white-space: pre-wrap;
        }
      }
  }

}
