@import "variables.scss";

.stepByStepSearchContainer {
  .card {
    background: #fff;
    margin-bottom: 10px;
    transition: .5s;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);

    .header {
      color: #424242;
      padding: 20px;
      position: relative;
      box-shadow: none;

      h2 {
        font-size: 15px;
        color: #757575;
        font-weight: 400;
        position: relative;

        strong {
            color: #49c5b6;
            font-weight: 600;
        }
      }
    } // END OF .header

    .body {
      font-size: 14px;
      color: #424242;
      padding: 20px;
      font-weight: 400;
    } // END OF .body

    .box {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
    }
  } // END OF .card

  .card .header h2::before {
    position: absolute;
    width: 20px;
    height: 1px;
    left: 0;
    top: -20px;
    content: '';
    background: $secondary;
  }

  .card:hover {
    cursor: pointer;
    .body {
      color: $secondary;
    }
    .box {
      color: $secondary;
    }
  }
}
