<div class="border p-4">
  <div class="row">
    <div class="col">
      <h2 class="text-capitalize mb-3">{{applicantProfileService.myProfile?.firstName}} {{applicantProfileService.myProfile?.lastName}}</h2>
      <div class="text-muted text-capitalize mb-1"><i class="icon-graduation mr-2 gradIcon"></i>{{applicantProfileService.myProfile?.occupation}}</div>
      <div class="text-muted mb-1"><i class="fa fa-university mr-2 uniIcon"></i>University of Koblenz-Landau</div>
      <div class="text-muted mb-1"><i class="icon-book-open mr-2 courseIcon"></i> Your Course</div>
      <div class="text-muted mb-3"><i class="icon-directions mr-2 mapIcon"></i> Germany</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card border-0 rounded-0">
        <div class="card-header border-0">
          <h6 class="mb-0"><i class="icon-energy topBadgeIcon"></i> Top 5 Badges</h6></div>
        <div class="card-body">
          <div class="row no-gutters m-auto">
            <div class="col-md-6 col-lg-2 text-center">
              <img src="http://via.placeholder.com/75x75/9b6bcc/ffffff" alt="..." class="rounded-circle">
              <div class="text-muted mt-2">Badge 1</div>
            </div>
            <div class="col-md-6 col-lg-2  text-center">
              <img src="http://via.placeholder.com/75x75/29d6e6/ffffff" alt="..." class="rounded-circle">
              <div class="text-muted mt-2">Badge 1</div>
            </div>
            <div class="col-md-6 col-lg-2  text-center">
              <img src="http://via.placeholder.com/75x75/e81c62/ffffff" alt="..." class="rounded-circle">
              <div class="text-muted mt-2">Badge 1</div>
            </div>
            <div class="col-md-6 col-lg-2  text-center">
              <img src="http://via.placeholder.com/75x75/527bcc/ffffff" alt="..." class="rounded-circle">
              <div class="text-muted mt-2">Badge 1</div>
            </div>
            <div class="col-md-6 col-lg-2  text-center">
              <img src="http://via.placeholder.com/75x75/72c02c/ffffff" alt="..." class="rounded-circle">
              <div class="text-muted mt-2">Badge 1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
