<div class="instituteManagementContainer">
  <!-- =================================================== -->
  <!-- ========= START OF FORM ADD NEW INSTITUTE ============ -->
  <!-- =================================================== -->
  <div class="card">
    <div class="header">
        <h2><strong>Add New</strong> Institute </h2>
    </div>
    <div class="body">

      <form #addNewInstituteForm="ngForm" (ngSubmit)="instituteService.instituteCRUD()" novalidate>
        <!-- Campus Selection -->
        <div class="form-group mb-3">
          <div class="my-input-group">
            <select class="form-control text-muted"  name="selInstitute" required (change)="instituteService.selectThisCampus($event.target.value); getAllFacultyOfThisCampus()">
              <option [selected]="instituteService.isCampusSelected === false" [value]="undefined" disabled> Select Campus </option>
              <option *ngFor="let campus of allCampuses | async;" [value]=campus._id [selected]="instituteService.instituteData.campusID == campus._id">{{campus.name}}</option>
            </select>
          </div>
        </div>
        <!-- Faculty Selection -->
        <div class="form-group mb-3">
          <div class="my-input-group">
            <select class="form-control text-muted"  name="selFaculty" required (change)="instituteService.selectThisFaculty($event.target.value)">
              <option [selected]="instituteService.isFacultySelected === false" [value]="undefined" disabled> Select Faculty </option>
              <option *ngFor="let faculty of facultyOfThisCampus | async;" [value]=faculty._id [selected]="instituteService.instituteData.facultyID == faculty._id">{{faculty.name}}</option>
            </select>
          </div>
        </div>
        <!-- Institute Name -->
        <div class="form-group mb-3">
          <div class="my-input-group">
            <input
                   id="instituteManagementName"
                   class="form-control"
                   [ngClass]="{'g-state-not-empty': instituteService.instituteData.name !== ''}"
                   name="institute-name"
                   aria-describedby="createNewInstituteHelpBlock"
                   type="text"
                   [(ngModel)]="instituteService.instituteData.name"
                   required
                   [disabled] = "instituteService.isFacultySelected === false"
                   #instituteName="ngModel">
            <label for="instituteManagementName" class="text-muted">Institute name</label>
          </div>
        </div>
        <!-- Description -->
        <div class="form-group mb-3">
          <div class="my-input-group">
            <textarea
                      id="instituteManagementDesc"
                      class="form-control resize-none g-state-not-empty"
                      [ngClass]="{'g-state-not-empty': instituteService.instituteData.description !== ''}"
                      name="institute-details"
                      [disabled] = "instituteService.isFacultySelected === false"
                      [(ngModel)]="instituteService.instituteData.description"
                      rows="3">
            </textarea>
            <label for="instituteManagementDesc" class="text-muted">Details</label>
          </div>
        </div>
        <!-- ========================================================= -->
        <!-- ============== Validation error message ================= -->
        <!-- ========================================================= -->
        <ng-container *ngIf="instituteService.isNewInstituteCreatedSuccessful === false && instituteService.isEditInstituteSuccessful === false">
          <ng-container *ngIf="instituteName.invalid && (instituteName.dirty || instituteName.touched)">
            <small id="createNewInstituteHelpBlock" class="form-text text-danger mb-2" *ngIf="instituteName.errors.required">
               Institute name is required.
            </small>
          </ng-container>
        </ng-container>
        <ng-container *ngIf = "instituteService.isInstituteAlreadyExistInDB === true">
          <small id="createNewInstituteHelpBlock" class="form-text text-danger mb-2">
             This institute already exist in the system!
          </small>
        </ng-container>
        <!-- ========================================================= -->
        <!-- ============ END OF Validation error message ============ -->
        <!-- ========================================================= -->
        <div class="form-group">
          <button *ngIf = "instituteService.isEditInstituteEnabled === false" class="btn btn-primary" type="submit">Add Institute</button>
          <button *ngIf = "instituteService.isEditInstituteEnabled === true" class="btn btn-success" type="submit">Save</button>
          <button *ngIf = "instituteService.isEditInstituteEnabled === true" class="btn btn-warning" (click) = "instituteService.resetInstituteForm()">Cancel</button>
        </div>
      </form>

    </div> <!-- END OF card body -->
  </div> <!-- END OF card -->

  <!-- =================================================== -->
  <!-- ========= END OF FORM ADD NEW INSTITUTE ============== -->
  <!-- =================================================== -->

  <!-- =================================== -->
  <!-- ==== START OF success messages ====== -->
  <!-- =================================== -->

  <ng-container *ngIf="instituteService.isNewInstituteCreatedSuccessful === true && instituteService.showNewInstituteCreationMessage === true">
    <div class="alert alert-success" role="alert" [@fadeInAnimation]>
      Institute creation successfull!
    </div>
  </ng-container>
  <ng-container *ngIf = "instituteService.isEditInstituteSuccessful === true && instituteService.showUpdateInstituteMessage === true">
    <div class="alert alert-success" role="alert" [@fadeInAnimation]>
      Institute update successfull!
    </div>
  </ng-container>
  <ng-container *ngIf = "instituteService.isInstituteDeleteSuccessful === true">
    <div class="alert alert-success" role="alert" [@fadeInAnimation]>
      Institute delete successfull!
    </div>
  </ng-container>

  <!-- ================================= -->
  <!-- ==== END OF success messages ====== -->
  <!-- ================================= -->




  <!-- =================================================== -->
  <!-- ========= START OF ALL INSTITUTES TABLE =============== -->
  <!-- =================================================== -->

  <div class="card">
    <div class="header">
        <h2><strong>All</strong> Institutes </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Campus</th>
            <th scope="col">Faculty</th>
            <th scope="col">Created By</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor = "let institute of allInstitutes; let i=index ">
            <tr>
              <td>{{i+1}}</td>
              <td class="text-capitalize">{{institute?.name}}</td>
              <td class="text-capitalize">{{institute?.campusName}}</td>
              <td class="text-capitalize">{{institute?.facultyName}}</td>              
              <td>{{institute?.createdBy}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-outline-success mr-2 d-inline" (click) = "editThisInstitute(institute)"><i class="icon-pencil"></i></button>
                <button type="button" class="btn btn-sm btn-outline-danger d-inline" (click) = "instituteService.deleteThisInstitute(institute)"><i class="icon-trash"></i></button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div> <!-- END OF card body -->
  </div> <!-- END OF card -->
  <!-- =================================================== -->
  <!-- ========= END OF ALL INSTITUTES TABLE ================= -->
  <!-- =================================================== -->

</div>
