
<div class="sidebar-sticky">

  <ul class="nav flex-column">
    <li>
        <div class="user-info text-center">
            <div class="image"><span class=" waves-effect waves-block"><img src="/images/dummy-img.png" alt="User"></span></div>
            <div class="detail">
                <!-- <h4>{{accountService?.currentUserName}}</h4> -->
                <h4 class="" *ngIf = "accountService.isUserAdmin">Admin</h4>
            </div>
        </div>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" [routerLink] = "['overview']">
        <i class="icon-home"></i>
        {{translatorService.selectedLanguage.overview}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['users']">
        <i class="icon-people"></i>
        {{translatorService.selectedLanguage.users}}
      </a>
    </li>
    <!-- <li class="nav-item pl-md-2">
      <a class="nav-link">
        <i class="icon-paper-plane"></i>
        Issuer Tools
      </a>
    </li> -->
<!--    <li class="nav-item pl-md-2">-->
<!--      <a class="nav-link">-->
<!--        <i class="icon-chart"></i>-->
<!--        Reports-->
<!--      </a>-->
<!--    </li>-->
  </ul>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-2 text-success">
    <span>{{translatorService.selectedLanguage.metadataManagement}}</span>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item pl-md-2"  routerLinkActive = "active">
      <a class="nav-link"  [routerLink] = "['campus']">
        <i class="icon-location-pin"></i>
        Campus
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['faculty']">
        <i class="icon-organization"></i>
        {{translatorService.selectedLanguage.faculty}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['institutes']">
        <i class="icon-graduation"></i>
        {{translatorService.selectedLanguage.institutes}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['courses']">
        <i class="icon-layers"></i>
        {{translatorService.selectedLanguage.courses}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['levels']">
        <i class="icon-equalizer"></i>
        {{translatorService.selectedLanguage.levels}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['competencies']">
        <i class="icon-star"></i>
        {{translatorService.selectedLanguage.competency}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['tools']">
        <i class="icon-wrench"></i>
        {{translatorService.selectedLanguage.tools}}
      </a>
    </li>
  </ul>
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-2 text-success">
    <span>{{translatorService.selectedLanguage.badgeManagement}}</span>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['newBadge']">
        <i class="icon-plus"></i>
        {{translatorService.selectedLanguage.newBadge}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['importBadge']">
        <i class="icon-cloud-download"></i>
        {{translatorService.selectedLanguage.importBadges}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['updateMetadata']" (click)="hideBadgeEditForm()">
        <i class="icon-puzzle"></i>
        {{translatorService.selectedLanguage.updateMetadata}}
      </a>
    </li>
    <li class="nav-item pl-md-2" routerLinkActive = "active">
      <a class="nav-link" [routerLink] = "['viewAllBadges']" (click)="hideBadgeEditForm()">
        <i class="icon-folder"></i>
        {{translatorService.selectedLanguage.viewAll}}
      </a>
    </li>
  </ul>
</div>
