<section class="contactUsSection">
  <div class="container contactUsContainer">
    <div class="row headerRow">
      <div class="col col-lg-6 offset-lg-3">
        <h1 class="text-primary text-center mt-4">{{translatorService.selectedLanguage.letsGetInTouch}}</h1>
        <div class="separator"></div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6 text-center">
        <h5>{{translatorService.selectedLanguage.getInTouchMessage}}</h5>
      </div>
    </div>
    <div class="row no-gutter underShadow">
      <div class="col-sm-6 col-md-4 border border-light">
        <div class="text-center addressBoxPadding">
          <div class="text-success mb-4"><i class="icon-map"></i></div>
          <h5>Address</h5>
          <span class="text-muted">University of Koblenz-Landau<br>Building C, Room 118</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 border border-light">
        <div class="text-center addressBoxPadding">
          <div class="text-success mb-4"><i class="icon-envelope-letter"></i></div>
          <h5>Email</h5>
          <span class="text-muted">info@badgelor.de</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 border border-light">
        <div class="text-center addressBoxPadding">
          <div class="text-success mb-4"><i class="icon-screen-smartphone"></i></div>
          <h5>Phone Number</h5>
          <span class="text-muted">(0261) 287-1552</span>
        </div>
      </div>
    </div>
  </div>
</section>
