<navbar-top></navbar-top>

<!-- ================================== -->
<!-- TOP SEARCH INPUT AREA starts here  -->
<!-- ================================== -->
<section class="topSearchArea topNavbarPush">
  <div class="headerImage">
    <img src="/images/banner2.jpg" class="img-fluid">
  </div>

  <div class="container text-center searchFormContainer">
    <h2 class="h1 text-uppercase mb-4">GET RECOGNISED</h2>

    <!-- Search Form -->
    <form class="mx-auto">
      <div class="form-group mb-2">
        <div class="input-group rounded mb-3">
          <input class="form-control border-right-0 pr-0" type="text" placeholder="What badge do you want to earn?">
          <div class="input-group-addon d-flex align-items-center">
            <button class="btn btn-info" type="submit">
              <i class="icon-magnifier"></i>
            </button>
          </div>
        </div>
        <h5 class="form-text">Search any keyword, competency, coursename and so on.</h5>
      </div>
    </form>
    <!-- End Search Form -->
    <h4>Or</h4>
    <!--  Step by Step Search -->
    <button class="btn btn-outline-info" type="button">Search Step by Step</button>
    <!-- END OF Step by Step Search -->
  </div>
</section>
<!-- =================================== -->
<!--     END TOP SEARCH INPUT AREA here  -->
<!-- =================================== -->



<!-- ============================================= -->
<!-- ======= Main search result body ============= -->
<!-- ============================================= -->
<section class="pt-5 pb-5 searchResultSection">

  <div class="container searchResultContainer">
    <div class="row"> <!-- searchResultMainRow -->
      <!-- ============================= -->
      <!-- ======== Left Sidebar ======= -->
      <!-- ============================= -->
      <div class="col-lg-3 pr-4">
        <h2 class="h5 text-uppercase filterHeading">Level</h2>
        <hr>
        <form class="mb-4">
          <ng-container *ngFor = "let level of allLevels">
            <div class="form-group">
              <label class="u-check pl-4 text-capitalize">
                <input type="checkbox">
                <div class="u-check-icon-checkbox">
                  <i class="fa" data-check-icon=""></i>
                </div>
                {{level?.name}}<span class="badge badge-light pull-right ml-2">20</span>
              </label>
            </div>
          </ng-container>
        </form>


        <h2 class="h5 text-uppercase filterHeading">Competency</h2>
        <hr>
        <form class="mb-4">
          <ng-container *ngFor = "let competency of allCompetencies">
            <!-- Checkbox -->
            <div class="form-group">
              <label class="u-check pl-4 text-capitalize">
                <input type="checkbox">
                <div class="u-check-icon-checkbox">
                  <i class="fa" data-check-icon=""></i>
                </div>
                {{competency?.name}}
              </label>
            </div>
            <!-- END checkbox -->
          </ng-container>
        </form>

        <h2 class="h5 text-uppercase filterHeading">Tool</h2>
        <hr>
        <form class="mb-4">
          <ng-container *ngFor = "let tool of allTools">
            <!-- Checkbox -->
            <div class="form-group">
              <label class="u-check pl-4 text-capitalize">
                <input type="checkbox">
                <div class="u-check-icon-checkbox">
                  <i class="fa" data-check-icon=""></i>
                </div>
                {{tool?.name}}<span class="badge badge-light pull-right ml-2">10</span>
              </label>
            </div>
            <!-- END checkbox -->
          </ng-container>
        </form>
      </div>
      <!-- ==================================== -->
      <!-- ======== END OF Left Sidebar ======= -->
      <!-- ==================================== -->

      <!-- ============================================= -->
      <!-- ======== Right Badge items grid view  ======= -->
      <!-- ============================================= -->
      <div class="col-lg-9">
        <div class="searchResultBodyWrapper">
          <!-- ==================== -->
          <!-- Top row result count -->
          <!-- ==================== -->
          <div class="d-md-flex justify-content-between mb-3">
            <h3 class="h6 text-uppercase mb-2 mt-2">About <span class="badge badge-light">100</span> badges found.</h3>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </div>
          <!-- =========================== -->
          <!-- END OF Top row result count -->
          <!-- =========================== -->

          <!-- ====================== -->
          <!-- Main search result row -->
          <!-- ====================== -->
          <div class="row">

              <div class="col-6 col-md-3 badgeItemColumn" *ngFor = "let badge of badgeService.earnableBadges">
                <figure class="text-center border rounded badgeFigure" [@fadeInAnimation]><!-- figure starts here  -->
                  <div class="badgeImgAndTitle"  (click) = "badgeService.showSingleBadgeModal(badge.badge_id)" [@fadeInAnimation]>
                    <img class="img-fluid rounded mb-4" src="https://openbadgefactory.com/v1/badge/_/{{badge.badge_id}}.png" alt="">
                    <h4 class="h5 text-capitalize">{{badge.name}}</h4>
                    <!-- <span class="text-muted">Dr. Andreas Keamper</span> -->
                  </div>
                  <hr>
                  <ul class="row list-inline pt-3 pb-3 m-0">
                    <li class="col border-right">
                      <a class="text-muted viewLink" (click) = "badgeService.showSingleBadgeModal(badge.badge_id)">
                        <i class="icon-size-fullscreen mr-1"></i> View
                      </a>
                    </li>
                    <li class="col">
                      <a class="text-muted shareLink" (click) = "badgeService.showApplyBadgeModal(badge.id)">
                        <i class="icon-note mr-1"></i> Apply
                      </a>
                    </li>
                  </ul>
                </figure><!-- figure ends here -->
              </div> <!-- END of badgeItemColumn -->

          </div> <!-- END of Row -->
          <!-- ============================= -->
          <!-- END of Main search result row -->
          <!-- ============================= -->

          <ng-container *ngIf="badgeService.dataIsLoading === true">

           <div class="sk-circle">
             <div class="sk-circle1 sk-child"></div>
             <div class="sk-circle2 sk-child"></div>
             <div class="sk-circle3 sk-child"></div>
             <div class="sk-circle4 sk-child"></div>
             <div class="sk-circle5 sk-child"></div>
             <div class="sk-circle6 sk-child"></div>
             <div class="sk-circle7 sk-child"></div>
             <div class="sk-circle8 sk-child"></div>
             <div class="sk-circle9 sk-child"></div>
             <div class="sk-circle10 sk-child"></div>
             <div class="sk-circle11 sk-child"></div>
             <div class="sk-circle12 sk-child"></div>
           </div>
           <h5 class="text-center text-muted">Loading ...</h5>

         </ng-container>




        </div> <!-- END of searchResultBodyWrapper -->
      </div><!-- END of col-lg-9 -->
      <!-- ============================================= -->
      <!-- ======== END OF Right Badge items grid view  ======= -->
      <!-- ============================================= -->
    </div> <!-- END OF searchResultMainRow -->
  </div> <!-- END OF searchResultContainer -->

</section> <!-- END of searchResultSection -->

<!-- ============================================= -->
<!-- ======= END OF Main search result body ====== -->
<!-- ============================================= -->



<!-- ============================================= -->
<!-- ======= Apply Badge Modal =================== -->
<!-- ============================================= -->


<!-- ============================================= -->
<!-- ======= END OF Apply Badge Modal ============ -->
<!-- ============================================= -->

<app-footer></app-footer>
