
<div class="row">
  <div class="col">
    <div class="card border-0 rounded-0">
      <div class="card-header border-0">
        <h6 class="mb-0"><i class="icon-layers mr-2 topBadgeIcon"></i> Badge Applications</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <img src="" alt="Badge Image">
          </div>
          <div class="col-10">
            <span>Badge Name</span> <span class="pull-right"> <button class="btn btn-sm btn-outline-success">Approved</button> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
