
<div class="row">
  <div class="col">
    <div class="card border-0 rounded-0">
      <div class="card-header border-0">
        <h6 class="mb-0"><i class="icon-layers mr-2 topBadgeIcon"></i> Badge Applications</h6>
      </div> <!-- END OF card-header -->
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <tbody>
            <tr class="table-light" *ngFor ="let application of applicantProfile.myApplications; index as i">
              <th scope="row" class="align-middle">{{i+1}}</th>
              <td class="align-middle"><img class="img-fluid img-thumbnail rounded badgeIcon" src="https://openbadgefactory.com/v1/badge/_/{{application?.badge_id}}.png" alt="Img"></td>
              <td class="align-middle">{{application?.name}}</td>
              <td class="align-middle">
                <span class="badge badge-pill text-capitalize"
                    [ngClass] = "{'badge-success': application?.status === 'approved',
                                  'badge-danger': application?.status === 'rejected',
                                  'badge-primary': application?.status === 'pending' }"
                    >{{application?.status}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!-- END OF table-responsive -->
    </div> <!-- END OF card -->
  </div> <!-- END OF col -->
</div> <!--  END OF row-->
